#Next{
	background-image: url(../../images/contact-bg.jpg);
	height:900px;
	background-position: center;
	font-family: "futura-pt-n4","futura-pt",sans-serif
}
#Nextbox{
    height: 438px;
    background-color: white;
    margin-top: 166px;
    padding-top: 20px;
	margin-left:10%;
	margin-right:10%
}
#singlebutton{
		background-color: #0db5e6;
	    border: 0;
	    border-radius: 2px;
	    -moz-border-radius: 2px;
	    -webkit-border-radius: 2px;
	    color: #fff;
	    padding: 10px 60px;
	    letter-spacing: 2px;
	    font-size: 14px;
	    font-family: "futura-pt-n4","futura-pt",sans-serif;
	    font-style: normal;
	    font-weight: 400;
	}
#Nextbox form section{
	text-align: center
}
h3{
	margin-bottom:27px;
	color:#5b6060
}
#Nextbox section h3{
	margin-bottom:31px;
}
#Nextbox section input{
	border:none;
	margin-bottom:20px;
	width:50%;
	text-align: center
}
#Nextbox section textarea{
	margin-bottom:38px
}
